@charset "utf-8";
/* CSS Document */

.score
{
	background:url(../images/bg.jpg) 0 0 no-repeat;
	color:#111;
	border:none;
	font-weight:600;
	padding:10px;
	width:40px;
	height:40px;
	cursor:pointer;
}
.score:hover
{
	background:url(../images/bg2.jpg) 0 0 no-repeat;
	width:38px;
	height:38px;
}
.scorecard
{
	float:left;
	padding:10px;
	border:1px #CCC solid;
	background:#DEDEED;
	width:60px;
	text-align:center;	
	color:#111;
	font-weight:800;
	font-family:"Comic Sans MS", cursive;
}
.overcard
{
	float:left;
	padding:3px;
	border:1px #333 solid;
	background:#101010;
	width:180px;
	text-align:center;	
	color:#FEF;
	font-weight:800;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.alertcard
{
	float:left;
	padding:10px;
	border:1px #FE1100 solid;
	background:#F00;
	width:80px;
	text-align:center;	
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	font-size:14px;
}
.board
{
	float:left;
	padding:4px;
	border:1px #07D solid;
	background:#06C;
	width:80px;
	text-align:center;	
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:600;
	font-size:12px;
}

